h2{
    font-size: 30px;
    text-align: center;
}

h3 {
    font-size: 20px;
    text-align: center;
}

p {
    font-size: 7px;
    text-align: center;
}

h4 {
    font-size: 6px;
    text-align: center;
}

.flex-container div {
    background-color: #fe00cb;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    
    width: 80%;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 9px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
